.story-custom{
   display: flex;
   justify-content: space-between;
}
.background-custom-our-story{
   background: #0d09f8c0 linear-gradient(
       120deg,black 62%,#0d09f8c0  32%) repeat scroll 0 0;
}